header {
  background: black;
  color: white;
  text-align: center;
  padding: 0;
  margin-top:0;
}
header h1 {
  margin-top: 0;
  font-size: 48px;
}
body {
  margin: 0;
  font-size: 24px;
  font-family: Arial, sans-serif;
  background-color: black;
  color: black;
}
nav {
  text-align: center; 
  margin-bottom: 25px;
}
summary {
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}
nav ul {
  display: inline-block; 
  list-style: disc;
  padding-left: 20px; 
  text-align: left;    
  margin: 0;           
  font-size: 16px;
  color: white;
}
nav a {
  color: #800080;
  text-decoration: none;
}
nav a:visited{
    color:cyan;
}
section {
  background-color: #f7ecd9;
  max-width: calc(100% - 40px);
  margin: 7px auto;
  padding: 12px;
  border: 10px solid hotpink;
}

#what {
  border-color: magenta;
}

#how {
  border-color: cyan;
}

#why {
  border-color: orange;
}
section h2 {
  margin-top: 0;
  font-size: 36px;
}
section p {
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 0;
}
main {
  padding-bottom: 40px;
}
hr {
  border: 0;
  height: 2px;
  background-color: rgb(239, 156, 0);
  margin: 5px 0;
}
code{
    font-size: 20px;
    margin:0%;
}